<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gunman01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{380,268}}</string>
                <key>offset</key>
                <string>{-46,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,82},{380,268}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1736},{274,280}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,82},{274,280}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1712},{258,292}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,75},{258,292}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman04.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1448},{230,308}}</string>
                <key>offset</key>
                <string>{29,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,68},{230,308}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1758},{262,294}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,77},{262,294}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2284},{270,294}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,81},{270,294}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1470},{380,268}}</string>
                <key>offset</key>
                <string>{-46,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,82},{380,268}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunman08.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1142},{232,304}}</string>
                <key>offset</key>
                <string>{28,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,69},{232,304}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2036},{280,330}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,35},{280,330}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,836},{404,304}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,10},{404,304}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{432,256}}</string>
                <key>offset</key>
                <string>{13,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,10},{432,256}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,584},{406,262}}</string>
                <key>offset</key>
                <string>{-10,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,35},{406,262}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,848},{480,260}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{480,260}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,588},{516,246}}</string>
                <key>offset</key>
                <string>{38,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,97},{516,246}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,586},{518,238}}</string>
                <key>offset</key>
                <string>{37,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,127},{518,238}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{518,248}}</string>
                <key>offset</key>
                <string>{36,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,126},{518,248}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,338},{518,248}}</string>
                <key>offset</key>
                <string>{37,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{518,248}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,336},{518,248}}</string>
                <key>offset</key>
                <string>{37,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,126},{518,248}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>gunmanfall2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1152},{390,254}}</string>
                <key>offset</key>
                <string>{77,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,18},{390,254}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1432},{378,278}}</string>
                <key>offset</key>
                <string>{91,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,31},{378,278}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{398,304}}</string>
                <key>offset</key>
                <string>{134,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,12},{398,304}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{392,338}}</string>
                <key>offset</key>
                <string>{143,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,4},{392,338}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1582},{374,328}}</string>
                <key>offset</key>
                <string>{166,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,52},{374,328}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1988},{378,294}}</string>
                <key>offset</key>
                <string>{161,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,86},{378,294}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1740},{378,294}}</string>
                <key>offset</key>
                <string>{161,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,86},{378,294}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1110},{462,320}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,39},{462,320}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,260},{416,322}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,38},{416,322}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,826},{488,324}}</string>
                <key>offset</key>
                <string>{80,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,55},{488,324}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{514,334}}</string>
                <key>offset</key>
                <string>{100,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,46},{514,334}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{528,332}}</string>
                <key>offset</key>
                <string>{107,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,45},{528,332}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{536,334}}</string>
                <key>offset</key>
                <string>{110,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,46},{536,334}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>gunmanfall3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,336}}</string>
                <key>offset</key>
                <string>{109,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,44},{540,336}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>prone_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1408},{388,172}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{388,172}}</string>
                <key>sourceSize</key>
                <string>{410,180}</string>
            </dict>
            <key>prone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1142},{398,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{398,162}}</string>
                <key>sourceSize</key>
                <string>{410,180}</string>
            </dict>
            <key>prone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1306},{394,162}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{394,162}}</string>
                <key>sourceSize</key>
                <string>{410,180}</string>
            </dict>
            <key>prone_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{400,144}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,35},{400,144}}</string>
                <key>sourceSize</key>
                <string>{410,180}</string>
            </dict>
            <key>shoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1432},{230,302}}</string>
                <key>offset</key>
                <string>{49,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,76},{230,302}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy_tp.pvr.gz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bc7095fc376836660b532c067a1a1b4$</string>
            <key>textureFileName</key>
            <string>enemy_tp.pvr.gz</string>
        </dict>
    </dict>
</plist>
